.sign-in-text {
    font-family: 'Pacifico', cursive;
    size: 10px;
    color: #d6702b;
}

.donate-buttons {
        margin: 5px, 5px;
        display: flex;
        justify-content: space-evenly;
}

.stripe {
    margin: 10px;
}