.gallery {
    width: 100%;
    padding: 2rem;
    height: 100%;
}

.search-box {
    padding: 3%;
    display: flex;
    justify-content: center;
    height: 20%;
}

.filter-cards {
    width: 20%;
}
.filter-buttons {
    display: flex;
    justify-content: space-between;
   justify-self: center;
}

.filter-button {
    width: 100%;
    height: 100%;
    
}