
.services {
    display: flex;
    flex-direction: column;
}

.filter-box {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.input-filters {
    display: flex;
    flex-direction: row;
}

.select-filters {
    display: flex;
    flex-direction: row;
    width: inherit;
}
.date-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.select-filters-left {
    width: 50%;
    button {
        width: 100%;
    }
}

.select-filters-right {
    width: 50%;
    button {
        width: 100%;
    }

}
