.chat {
    display: flex;
    height: 650px;
    background-color: white;
    width: 60%;
    font-size: 10px !important;
    position: relative; 
    margin-top: 20px;
}

.messages-container {
    width: 75%;
    height: 100%;
    overflow: hidden;
}

.messages-box {
    min-height: 6% !important;
}

.empty-div {
background-color: white;
min-height: 2%;
}

.message-thread {
    margin-top: 1rem;
    text-align:start;
    color: white !important;
    font-size: 18px;
}

.text-area {
    font-size:14px !important;
}

.messages-preview {
    width: 25%;
    height: 100%;
}
.new-message-area {
    min-height: auto !important;
}

