@import "../../shared/custom-styles/styles";


.facebook-button {
    
        background-color: $facebookColor !important;
        color: white !important;
    
}
.google-button {
        
            background-color: $googleColor !important;
            color: white !important;
        
  }