@import "../../shared/custom-styles/styles";

.sign-in {
    text-align: center;
    font-family: 'Texturina', serif;
    font-size: large;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-in-box {
    opacity: 0.8;
    width: auto;
    height: 100%;
    align-content: center;
}

.facebook-button {
    &:hover {
        background-color: $facebookColor !important;
        color: white !important;
    }
}
.google-button {
        &:hover {
            background-color: $googleColor !important;
            color: white !important;
        }
  }