
.name-surname-form {
    align-self: center;
    display: flex;
}

.account-information {
    align-items: center;
    opacity: 0.9;
}
.walker-owner {
    display: flex;
    align-self: center;
}
.buttons {
    display: flex;
    align-content: center;}