.menu-option {
    display: flex;
}


.menu-box {
    text-align: center;
    outline: none;
    font-family: 'Texturina', serif;
    width: 100%;
    align-items: center;

}

.logo {
    margin-top: 1rem;
}

.menu-button {
    width: 190px !important;
}