.menu-option {
    display: flex;
}


.menu-box {
    text-align: center;
    outline: none;
    font-family: 'Texturina', serif;
    width: 100%;
    align-items: center;

}

.logo {
    margin-top: 1rem;
}

.nav-sidebar {
padding: 0 1rem;
}

.underline {
    color: #d6702b;
    font-weight: bold;
}

.sidebar-header {
    display:flex;
}