.gallery-card {
    max-width: 40%;
    min-width: 40%;
    max-height: 100%;
    min-height: 100%;
}

.gallery-card-box {
    min-height: 450px !important;
    max-height: 400px !important;
    position: relative;
    margin: 0 5%;
}

.dog-image-card {
    max-height: 80%;
    width: 100%;
}

.card-description {
    position: absolute;
    bottom: 0;
    padding: 5%
}

.card-title {
    color: #d6702b;
    font-weight: bold;
}