.card-footer {
    display: flex;
    flex-direction: column;
}

.card-title {
    color: #d6702b;
    font-weight: bold;
}

.dog-image-card {
    position: relative;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.gallery-card {
    padding: 0 1rem;
}