.add-services-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    div {
        flex:1 
    }
}

.service-box {
    display: block;
    flex-direction: column;
}

.add-service-form {
    display: flex;
    justify-content: space-evenly;
    align-items: center
}

.service-description {
    margin-top: 40px;
    align-self: center;
    font-size: 14px;
}
.uploud-image {
    padding: 20px;
}

.add-service-buttons {
    height: 40px;
    display: flex;
    justify-content: space-evenly;
}
.service-text-area {
    height: 180px;
}

.date-selects {
    display:flex;
}