
.service-box {
    display: flex;
    opacity: 0.9;
    align-items: center;
}

.form {
    display: flex;
}

.add-service-left {
    justify-content: center;
    width: inherit;
}

.add-service-right {
    justify-content: center;
    width: inherit;
}
