
.filters {
        align-content: center;
        display: flex;
        height:100%;
        flex-direction: column;
        margin: 0 25px;
        line-height: 4rem;
        font-size: 14px !important;
}
.sidebar-box {
        margin-bottom: 100px !important;
}
.add-service-button {
        align-self:center;
}
.services {
        overflow: auto;
        height: 100%;
        margin-top: 90px;
}
.header-services {
background-color: transparent !important;
}
.filter-button {
        border-radius: 0px !important;
        margin-top: 25px !important;
        max-width: 90%;
}
.services-table {
        min-width: 100% !important;
        padding: 0 1rem;
}
.clean-filter-button {
        align-self: center;
        margin-top: 20px !important;
}
.filter-field {
        max-width: 12rem !important;
}
.date {
        font-size: 12px !important;
}