
    .services-buttons {
        display: flex;
        justify-content: space-evenly;
        height: 5rem;
        padding: 1rem;
    }

    .filter-box {
        min-width: 75%;
        display: flex;
    }

    .filter-categories{
        display: flex;
        max-width: 100%;
        justify-content: space-evenly;
    }
  
    .clear-button {
        margin-left: 1rem;
    }
    