
.filters {
        align-content: center;
        justify-content: space-evenly;
        padding: 1rem;
        display: flex;
        height:100%;
        flex-direction: column;
        margin: 0 10px;
}

.sidebar-box {
        margin-bottom: 25px !important;
}
.selects {
        display: flex;
        align-items: center;
        justify-content: center;
}

.add-service-button {
        align-self:center;
}
.services {
        opacity: 0.9;
        overflow: auto;
        height: 100%;
        margin-top: 90px;
}

.delete-button {
       align-self: center;
}

.date-field {align-items: left;}

.header-services {
background-color: transparent !important;
}

.filter-button {
        border-radius: 0px !important;
        margin-top: 25px !important;
}


.date-inputs {
        display:flex;
        justify-content: center;
}

.services-table {
        min-width: 100% !important;
        padding: 0 2rem;

}

.clean-filter-button {
        align-self: center;
}


.filter-button {
        -webkit-animation: fadeIn ease 20s;}