html, body, #root, #app>div {
    height: 100%;
    font-family: 'Texturina', serif;
  }

.gromet {
    height: 100%;
}

a {
  text-decoration: none;
  outline: none;
  color: black;
}

a:visited {
  color: black;
}

* {
  box-sizing: border-box;
}