html, body, #root, #app>div {
  background: white;
  overflow: hidden;
  background: url('http://farm1.staticflickr.com//447//19585243302_fae38fd86f_o.jpg');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  height: 100%;
}

a {
  text-decoration: none;
  outline: none;
  color: black;
}

a:visited {
  color: black;
}

* {
  box-sizing: border-box;
}