.menu-option {
    display: flex;
}

.menu-button {
    width: 100%;
    &:focus {
        box-shadow: none !important;
    }

    &:hover {
        opacity: 0.4;
    }
}

.menu-box {
    text-align: center;
    outline: none;
    font-family: 'Texturina', serif;
    width: 100%;
    align-items: center;
}

.box-menu {
    outline: none;
    width: 0%;
    opacity: 0.8;

}
